body,
html {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/022/965/995/small_2x/drops-of-water-on-a-woman-s-tanned-skin-background-generative-ai-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
}

/* .left-side {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

.user-data {
  border: 3px dashed beige;
  height: 300px;
  flex-direction: row;
  flex-basis: 300px;
  text-align: center;
  border-radius: 60px;
  color: beige;
  background-color: #25272c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  color: beige;
}


.container,
.user-data,
.general-info,
.box {
  background: #050405;
  border-radius: 160px;
  display: grid;
  height: 385px;
  overflow: hidden;
  position: relative;
  width: 700px;
}

.boxy {
  animation: grow 10s linear infinite;
  background: rgb(0, 0, 0);
  height: 100px;
  opacity: 0.5;
  position: relative;
  width: 700px;
  border-radius: 10px;
  color: beige;
}

@keyframes grow {
  from {
    opacity: 0.5;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3.85);
  }
}

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  border: 3px dashed beige;
  height: 425px;
  width: 200px;
  text-align: center;
  margin: 15px;
  border-radius: 20px;
  color: beige;
  place-items: center;
}

.hydro {
  width: 195px;
  height: 425px;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 350px;
  background-repeat: repeat-x;
  animation: filling 10s ease-in-out infinite;
}

@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 350px;}
}

.sleep {
  background: url(https://cssanimation.rocks/images/random/space2.jpg);
  /* float:left */
}

.steps {
  background: url(https://www.publicdomainpictures.net/pictures/110000/nahled/vertical-road-into-the-distance.jpg);
}


.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.general-info {
  border: 3px dashed beige;
  height: 750px;
  width: 500px;
  border-radius: 30px;
  place-items: center;
  text-align: center;
  color: beige;
}
