body,
html {
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/022/965/995/small_2x/drops-of-water-on-a-woman-s-tanned-skin-background-generative-ai-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: space-around;
}

.user-data  {
  align-items: center;
  background-color: #25272c;
  border: 3px dashed beige;
  border-radius: 60px;
  color: beige;
  display: flex;
  flex-basis: 300px;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  text-align: center;
}

.welcome-message {
  color: beige;
}

.container,
.user-data,
.box {
  background: #050405;
  border-radius: 160px;
  display: grid;
  height: 385px;
  overflow: hidden;
  position: relative;
  width: 700px;
}
 
.boxy {
  animation: grow 10s linear 1;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  color: beige;
  height: 10px;
  opacity: 0.5;
  position: relative;
  width: 700px;
}

@keyframes grow {
  from {
    opacity: 0.5;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3.00);
  }
}

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  border: 3px dashed beige;
  border-radius: 20px;
  color: beige;
  height: 425px;
  margin: 15px;
  place-items: center;
  text-align: center;
  width: 200px;
}

.hydro {
  animation: filling 10s ease-in-out infinite;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 350px;
  background-repeat: repeat-x;
  height: 425px;
  opacity: 50%;
  width: 195px;
}

@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 350px;}
}

.sleep {
  background: url(https://cssanimation.rocks/images/random/space2.jpg);
}

.steps {
  background: url(https://www.publicdomainpictures.net/pictures/110000/nahled/vertical-road-into-the-distance.jpg);
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-side {
word-spacing: 15px;
line-height: 5.5
 
}

.general-info {
  border: 3px dashed beige;
  border-radius: 30px;
  color: black;
  height: 750px;
  place-items: middle;
  text-align: center;
  font-size: xx-large;
  width: 500px;
}
